body {
  font-family: Arial, sans-serif;
  background: url('images/tweed.png') repeat, grey;
}

h1, h2 {
  margin-top: 30px;
  margin-bottom: 5px;
}

h1:first-child {
  margin-top: 0;
}

p {
  margin-top: 0;
}

#content {
  padding: 30px;
  background: url('images/concrete_seamless.png') repeat, white;
  box-shadow: rgba(30, 30, 30, 0.7) 5px 5px 10px;
  margin: 30px auto;
  width: 80%;
  max-width: 1000px;
  border: black 1px solid;
}
